.service-page{
margin-top: 40%;
}
.name-bg{
background-color: rgba(215, 222, 228, 0.483);
width: 120%;
padding: 6%;
border-radius: 6px;
}
.payment-style{
border: 2px solid rgba(178, 178, 202, 0.435);
border-radius: 8px;
outline: none;
padding: 2px;
margin-bottom: 12%;
}
.pay-btn{
color: black;
}
.pay-btn:hover{
    color: black;
}